<!-- <div class="container-lg h-full flex items-start p-4">
  <div class="w-1/2 h-full bg-gray-200 mr-4 p-3">
    <div class="text-xl font-semibold border-b border-black">Subnets</div>
    
  </div>
  <div class="w-1/2 h-full bg-gray-200 ml-4 p-3">selected ip</div>
</div> -->
<div class="container-lg h-full flex flex-col-reverse sm:flex-row items-start p-4">
  <div class="w-full sm:w-1/2 h-full bg-gray-200 md:mr-4 p-3">
    <div class="text-xl font-semibold border-b border-black mb-4">Subnets</div>
    <app-subnet *ngFor="let subnet of subnets" [subnet]='subnet'></app-subnet>      
  </div>
  <div class="w-full sm:w-1/2 mb-4 sm:mb-0 sm:h-full bg-gray-200 sm:ml-4 p-3">selected ip</div>
</div>
<!-- <header>
  <div class="container h-full flex items-center">
    <div class="logo flex items-center">
      <img (click)="clearFilter()" src="/assets/img/marvel-logo.svg">
      <div class="tag">Character Database</div>
    </div>
    <div class="hero-icons ml-auto flex">
      <img (click)="refreshCharacters(prefix='Captain America')" src="/assets/img/captain-america.svg">
      <img (click)="refreshCharacters(prefix='Iron Man')" src="/assets/img/iron-man.svg">
      <img (click)="refreshCharacters(prefix='Spider-Man')" src="/assets/img/spiderman.svg">
      <img class="hide460" (click)="refreshCharacters(prefix='Punisher')" src="/assets/img/punisher.svg">
      <img (click)="refreshCharacters(prefix='Wolverine')" src="/assets/img/wolverine.svg">
      <img (click)="refreshCharacters(prefix='Thor')" src="/assets/img/thor.svg">
      <img class="hide500" (click)="refreshCharacters(prefix='Hulk')" src="/assets/img/hulk.svg">
      <img class="hide580" (click)="refreshCharacters(prefix='Venom')" src="/assets/img/venom.svg">
      <img (click)="refreshCharacters(prefix='Ghost Rider')" src="/assets/img/ghost-rider.svg">
      <img class="hide550" (click)="refreshCharacters(prefix='Deadpool')" src="/assets/img/deadpool.svg">
    </div>
  </div>
</header>
<nav>
  <div class="container h-full flex items-center space-between">
    <div id="search" class="flex">
      <input type="text" 
        placeholder="Search"
        [(ngModel)]="prefix"
        (keydown)="searchOnEnterBtn($event)">
      <button (click)="alphaFilter(prefix)">Go</button>
      <input type="checkbox"
        [(ngModel)]="imgFilter"
        (change)="photoFilter($event)">
      <span (click)="imgFilter=!imgFilter;photoFilter($event)">hide characters w.out photos</span>
    </div>

    <div class="flex ml-auto letter-filter">
      <a *ngFor="let letter of alphabetArray"
        (click)="alphaFilter(letter)"
      >{{letter}}</a>
    </div>
  </div>
</nav>
<div class="content flex-auto py-6">
  <div class="container">
    <div class="paging-container flex items-center mb-4">
      <span class="paging" (click)="clearFilter()">clear filter</span>
      <span *ngIf="!characters.length" class="no-records ml-4">No characters found</span>
      <span *ngIf="characters.length" 
        class="paging ml-auto" 
        (click)="minusOffset(limit)"><< Previous</span>
      <span *ngIf="characters.length"
        class="paging ml-6"
        (click)="plusOffset(limit)">Next >></span>
    </div>
    <div *ngIf="callLimitReached" class="call-limit-reached">
      We've reached the daily limit on calls to Marvel's api.
    </div>
    <div class="wrapper"
      [@cardAnimator]="animationState"
      (@cardAnimator.done)="resetAnimation()"
      (swiperight)="animationState = 'slideOutRight';minusOffset()"
      (swipeleft)="this.animationState = 'slideOutLeft';plusOffset()">
      
      <div 
        *ngFor="let character of characters"
        class="character flex flex-col"
        [attr.data-character]="character">
        
        <div 
          class="character-image"
          (click)="goToCharacter(character.urls[0].url)"
          [ngStyle]="{
            'background-image': 'url(' + character.thumbnail.path + '/standard_fantastic.' + character.thumbnail.extension + ')'
          }"></div>
        
        <div class="character-details">
          <div class="character-name">
            <h4>{{character.name}}</h4>
          </div>
          <p>
            {{character.description | characterDescription}}
          </p>
          <div class="mt-auto text-right text-xs">
            <a [href]="character.urls[0].url" target="_blank">view details</a>
          </div>
        </div>      
      </div>
    </div>      
    <div *ngIf="characters.length" class="paging-container flex items-center mb-4">
      <span class="paging" (click)="clearFilter()">clear filter</span>
      <span class="paging ml-auto" 
        (click)="minusOffset(limit)"><< Previous</span>
      <span class="paging ml-6"
        (click)="plusOffset(limit)">Next >></span>
    </div>
  </div>  
</div>
<footer>
  <div class="pb-4 container h-full flex items-center pt-1 space-between">
    <div>
      &copy; {{thisYear}} 
      <a href="http://iamchris.io" class="mx-2" target="_blank">iamchris.io</a> |
      <a href="http://ccrooke.com"  class="ml-2" target="_blank">ccrooke.com</a>
    </div>
    <div class="mx-auto">
      made with <a href="https://angular.io/" target="_blank">angular</a>, 
      <a href="https://tailwindcss.com" target="_blank">tailwind css</a>, 
      and <a href="https://marvel.com" target="_blank">marvel api</a>
    </div>
    <div class="text-right text-xs credits">Data provided by Marvel. 
      Icons by <a href="http://www.freepik.com" target="_blank">Freepik</a>/<a href="http://www.flaticon.com" target="_blank">flaticon</a>
    </div>
  </div>  
</footer>
<div class="spinner" *ngIf="showSpinner">
  <img class="path" src="/assets/img/spiderman-web-spinner.svg">
</div> -->