$colors: (
  white: #eeeeee,
  black: #171717,
);

@function color($color-name) {
  @return map-get($colors, $color-name)
}

* {
  font-family: 'Roboto';
  font-weight: 300;
  text-decoration: none;
  outline: none;
}

html, body, app-root {
  height: 100%;
  min-width: 400px;
}

a {
  cursor: pointer;
}

app-root {
  display: flex;
  flex-direction: column;
}

.icon-container {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  padding: .15rem;
  border: 1px solid #000000;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 80px;
  height: 80px;
    
  & .path {
    animation: dash 1.5s ease-in-out infinite;
  }  
}


.container {
  max-width: 1140px;
  min-width: 400px;
  margin: 0 auto;
}
